<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de alunos</title>
</head>
<body>
    <h1>Listar alunos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Matrícula</th>
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
                <tr>
                    <td>{{ aluno.nome }}</td>
                    <td>{{ aluno.sobrenome }}</td>
                    <td>{{ aluno.matricula }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'cadastrar_aluno' %}">Cadastrar</a>
</body>
</html>